<% if @feed_items.any? %>
  <h4>Income Categories</h4>
  <ol class="microposts">
  <%= render @feed_items %>
  </ol>
<% end %>

<% if @feed_item2.any? %>
  <h4>Expense Categories</h4>
  <ol class="microposts">
  <%= render @feed_item2 %>
  </ol>
<% end %>